@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
  padding: 8px;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
}

ul {
  list-style-type: none;
  padding: 0px;
}

a {
  text-decoration: none;
  font-size: small;
  color: gray
}

.body-div, .left-links, .right-links, .header, .footer, .input, .buttons {
  display: flex;
}

.body-div {
  flex-flow: column nowrap;
  flex: 0 1 auto;
  justify-content: space-between;
  height: 100vh;
}

.header, .footer {
  justify-content: space-between;
  padding: 0px 16px;
}

.footer {
  background-color: #eeeeee;
}

.left-links, .right-links {
  gap: 16px;
  
}

.content, .input, .buttons {
  margin: auto;
  justify-content: center;
}

.buttons {
  gap: 4px;
  margin-top: 16px;
}

