body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  min-height: 100vh;
}

.middle-portion, .front-page, .cards, .footer, .header {
  display: flex;
}

.header {
  height: 72px;
  background: darkmagenta;
  color: white;
  font-size: 32px;
  font-weight: 900;
  align-items: center;
  padding-left: 16px;
  flex: 0 0 auto;
}

.footer {
  height: 72px;
  background: #eee;
  color: darkmagenta;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  flex: 0 0 auto;

}

.sidebar {
  width: 300px;
  background: royalblue;
  box-sizing: border-box;
  flex: 0 0 auto;
  padding: 16px;
}

.sidebar ul {
  list-style-type: none;
  padding: 0px;
}

.sidebar ul li {
  margin-bottom: 16px;
}

.sidebar ul li a { 
  text-decoration: none;
  font-size: 24px;
  color: white;
  list-style-type: none;
}

.card {
  border: 1px solid #eee;
  box-shadow: 2px 4px 16px rgba(0,0,0,.06);
  border-radius: 4px;
  width: 300px;
  padding: 16px;
}

.front-page {
  flex-flow: column nowrap;
  height: 100vh;
  justify-content: space-between;
}

.middle-portion {
  flex: 1 0 auto;
}

.cards {
  flex-flow: row wrap;
  padding: 48px;
  gap: 30px;
}
